@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background: #598392; */
    background-color: rgb(25, 26, 29);
}

.wrapper {
    margin: auto;
    width: 95%;
}

#main-form {
    margin: auto;
    margin-top: 20px;
    color: rgb(209, 60, 60);
    font-weight: bold;
    overflow: hidden;
}

form {
    display: flex;
}

form input[type='text'] {
    padding: 12px;
    width: 100%;
    font-size: 1.25em;
    outline: none;
    border: none;
    /* border-radius: 5px 0 0 5px; */
    flex: 90%;
    /* background: #eff6e0; */
    background-color: rgb(50, 51, 59);
    color: white;
}

form button {
    /* border-radius: 0 5px 5px 0; */
    border: none;
    /* background: #eff6e0; */
    background-color: rgb(50, 51, 59);

    color: #bebebe;
    font-size: 1.4em;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    margin: auto;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
    /* background: #eff6e0; */
    background-color: rgb(50, 51, 59);
    color: white;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 8px solid #bebebe;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

li label {
    padding-left: 40px;
    padding-right: 10px;
    flex: 1;
}

li input[type='checkbox'] {
    margin-left: 10px;
    margin-right: 0;
}
input[type='checkbox'] {
    content: '';
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #787878;
    border-radius: 3px;
    margin-left: -29px;
    box-sizing: border-box;
}

input[type='checkbox'] ::before {
    background-color: #bebebe;
    border-color: #bebebe;
}
input[type='checkbox'] ::after {
    width: 8px;
    height: 14px;
    transform: translate(7px, 2px) rotate(45deg);
}

.remove {
    border: none;
    background: #eff6e0;
    font-size: 1.2em;
    font-weight: bold;
    color: #bebebe;
    margin-right: 10px;
}

form button:hover,
.remove:hover {
    cursor: pointer;
    color: #808080;
}

.checked {
    border-left: 8px solid #124559;
    opacity: 0.8;
}

.checked label {
    text-decoration: line-through;
    color: #124559;
}

/* Media Queries */
@media (min-width: 750px) {
    .wrapper {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 85%;
    }
}

@media (min-width: 1240px) {
    .wrapper {
        width: 50%;
        /*     margin-top: 160px; */
    }

    #main-form {
        margin-top: 80px;
    }
}

@media (min-width: 1500px) {
    .wrapper {
        width: 25%;
    }
}

/* my stuff */

header {
    display: flex;
    justify-content: flex-end;
}
.dataInfo > * {
    margin-right: 20px;
}

#dataInfoHelpLink {
    background: none;
    text-decoration: none;
    font-size: 1rem;
}

#showInfoButton {
    font-size: 1rem;
    background: none;
    border: none;
}
#savePreferencesButton {
    background-color: rgb(25, 26, 29);
    color: white;
    border-color: white;
    font-size: 1rem;
    cursor: pointer;
}
